/* .allteam-body{
  display: block;
  background-color: black;
  margin-top:10rem;
} */


/* .allteam-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(255, 247, 247);
  min-height: 100vh;
} */


.team-container{
  text-align: center;
  background: #fff;
}

.team-header{
  padding: 60px;
  color: black;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
}

.sub-container{
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams{
  margin: 10px;
  padding: 25px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.3s; 
  box-sizing: border-box;
}

.teams:hover{
  transform: scale(1.1);
}

.teams img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 14px solid lime ;
}

.team-member-name{
  padding: .5rem;
  font-weight: bolder;
  font-size: 14px;
  text-transform: uppercase;
}

.team-member-position{
  font-style: italic;
  color: #999;
}

.team-member-description{
  margin: 20px 0;
  font-weight: lighter;
  color: blue;
}

.team-socials{
  display: inline;
  height: 30px;
  transition: .4s;
}

.team-social-icon:hover{
  transform: scale(1.5);
}

.team-socials a{
  color: var(--dark-green-bg);
  padding: 10px;
}







