ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: transparent;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(--light-text);
    text-align: center;
    padding: .8rem 5rem;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
    color: var(--dark-text);
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }

  .logo{
    float: left;
  }